{% set _intent_instructions = scene.intent_state.instructions if scene.intent_state and scene.intent_state.instructions else "" %}
{% if _intent_instructions or custom_instructions %}
<|SECTION:Instructions for your direction|>
{% if custom_instructions %}
### System-wide instructions
{{ custom_instructions }}
{% endif %}
{% if _intent_instructions %}
### Scene instructions
{{ _intent_instructions }}
{% endif %}
<|CLOSE_SECTION|>
{% endif %}
