<|SECTION:SCENE TYPES|>
{% for scene_type in scene.intent_state.scene_types.values() %}
### {{ scene_type.name }}
#### Description
{{ scene_type.description }}

#### Instructions
{% if scene_type.instructions %}{{ scene_type.instructions }}{% endif %}
{% if scene_type.instruction_template %}{% include scene_type.instruction_template ignore missing %}{% endif %}
{% endfor %}
<|CLOSE_SECTION|>